[user]
	name = Daniel Meißner
	email = daniel@3st.mine.nu
	signingkey = 05AF72AB

[color]
	ui = auto

[core]
	sharedRepository = group

[github]
	user = meise

[alias]
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
